.button {
  font: inherit;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.button:hover,
.button:active {
  transform: scale(1.2); /* Increases the size by 20% */
}

.button i {
  font-size: 1.5rem; /* Adjust this as needed to match the size */
}
